@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */
.head-cont, .head-cont-tut{
	background-repeat:no-repeat;
	height:500px;
	width:100%;
	text-align:center;
	font-family:itc, helvetica !important;
	color:#FFF;
	background:rgba(0, 5, 58, 0.64);
	font-size:50px;
	overflow:hidden;
}
h1{
	font-weight: 100;
	text-align:center;
	font-size:40px;
}
.head-cont:before{
	content:"";
	background: url(../img/fondo.jpg);
	background-size: 100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
	position:absolute;
	height:500px;
	z-index:-1	
}
.head-cont-tut{
	background: url(../img/elearning-2.svg);
	background-size:100%;
}
footer{
	background:#003A59;
	height:10%;
}

footer{
	text-align:center;
}
footer li{
	display:inline-block;
	padding: 1em;
	font-size: 15px;
}
footer li a, footer li a:visited{
	color: #FFFFFF;
	text-decoration: NONE;;
}
footer li a:hover{
	color:#F60;
}
#contenido{
	overflow:hidden;
	clear:both;
}
#left{
	float:left;
	width:15%;
	height:100%;
}
.medl{
	display: block;
	float:left;
	border:solid #003D5F 1px;
	background-color: #fff;
	border-radius:100%;
	text-align:center;
}
.medl p{
	font-size:70px;
	margin:0;
	color:#800040;
}
#butt-a, #butt-b{
	padding:1% 0;
	top:50%;
	position:fixed;
	text-align:center;
	background: #FFB800;
	-webkit-transform: translateX(-85%);
	transform:translateX(-85%);
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
	z-index:2;
}
#butt-a:hover{
	-webkit-transform: translateX(0);
	transform:translateX(0);
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}
#butt-a a, #butt-b a{
	padding:0.5em;
	border-radius:5px;
	font-family:itcmd, helvetica;
	font-size:5vw;
	color:#FFF;
	text-decoration:none;
}
#column1{
	width:50%;
	margin:0 auto;
	border-left:solid 1px #003D5F;
}
h3{
	color:#003;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
@media only screen and (min-width: 1px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.head-cont{
	height:150px;
	width:100%;
	font-size:10px;
}
.medl{
	width:30px;
	height:30px;
	margin-left:-70px;
}
}

@media only screen and (min-width: 100px) and (max-width: 768px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
.medl p {
font-size: 25px;
margin: 0;
color: #800040;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.head-cont{
	height:100px;
	width:100%;
	font-size:20px;
}
.head-cont:before{
	height:100px;
	width:100%;
}
.medl{
	width:30px;
	height:30px;
	margin-left:-58px;
}
li{
	list-style:none;
	padding:1em 0;
	font-size:10px;
}
#tutoriales .vid{
	display:inline-block;
	width:80%;
}
.grid-wrap{
	background:none;
}
#back{
	background-size: auto;
}
#logo{
	max-height:200px;
}
.grid{
	color:#FFF;
}
.grid div{
	float:none !important;
	width: 100%;
	text-align: center;
	margin:100px 0;
}
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.head-cont{
	height:200px;
	width:100%;
	font-size:50px;
}
.head-cont:before{
	height:200px;
	width:100%;
}
.medl{
	width:90px;
	height:90px;
	margin-left: -90px;
}
.medl p {
	font-size: 70px;
	margin: 0;
	color: #f49b00;
}
li{
	list-style:none;
	padding:1em 0;
	font-size:1.1vw;
}
#tutoriales{
	width:90%;
	margin:0 auto;
}
#tutoriales .vid{
	display:inline-block;
	width:30%;
}

.grid-wrap{
}
#logo{
	max-height:400px;
}
#back{
	background-size: 100%;
}
.grid img{
	float: none;
	margin: 0 auto;
}
}

.listo{
	text-align:center;
	font-size:3vw;
	color:#FF7000;
}
.listo h1{
	margin:0;
}
@font-face{
	font-family:itc;
	src:url(../fonts/itc/ITCAvantGardeStd-XLt%204.otf);	
}

@font-face{
	font-family:itcmd;
	src: url(../fonts/itc/ITCAvantGardeStd-Md%202.otf);	
}
@font-face{
	font-family:itcbk;
	src: url(../fonts/itc/ITCAvantGardeStd-Bk%202.otf);	
}
#tutoriales{
	border:solid 1px #003D5F;
	border-radius:3px;
	text-align:center;
}

#tutoriales .vid{
	margin:0 auto;
}
#tutoriales .vid div, #tutoriales .vid div iframe{
	width:100%;
	background:#999;	
}