@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */
.head-cont{
	background: url(../img/prof-bac.png);
	background-repeat:no-repeat;
	height:500px;
	width:100%;
	text-align:center;
	font-family:telegrafico !important;
	font-size:50px;
	background-size: 100%;
}
footer{
	background:#F2F2F2;
	height:10%;
}
li{
	list-style:none;
	padding:1em 0;
	font-size:2vw;
}
footer{
	text-align:center;
}
footer li{
	display:inline-block;
	padding: 1em;
	font-size: 15px;
}
footer li a, footer li a:visited{
	color:#F93D06;
}
footer li a:hover{
	color:#F60;
}
#contenido{
	overflow:hidden;
	clear:both;
}
#left{
	float:left;
	width:15%;
	height:100%;
}
.medl{
	display: block;
	float:left;
	border:solid #FF7000 10px;
	background-color: #fff;
	border-radius:100%;
	text-align:center;
}
.medl p{
	font-size:5vw;
	margin:0;
	color:#800040;
}
#butt-a, #butt-b{
	padding:1% 0;
	top:50%;
	position:fixed;
	text-align:center;
	background: #FFB800;
	-webkit-transform: translateX(-85%);
	-webkit-transition:all 0.5s;
	z-index:2;
}
#butt-a:hover{
	-webkit-transform: translateX(0);
	-webkit-transition:all 0.5s;
}
#butt-a a, #butt-b a{
	padding:0.5em;
	border-radius:5px;
	font-family:telegrafico;
	font-size:5vw;
	color:#FFF;
	text-decoration:none;
}
#column1{
	float:right;
	width:80%;
	border-left:solid 10px #FF7000;
}
h3{
	color:#003;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */
@media only screen and (min-width: 1px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.head-cont{
	height:150px;
	width:100%;
	font-size:10px;
}
.medl{
	width:30px;
	height:30px;
	margin-left:-70px;
}
}

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.head-cont{
	height:250px;
	width:100%;
	font-size:20px;
}
.medl{
	width:30px;
	height:30px;
	margin-left:-70px;
}
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.head-cont{
	height:500px;
	width:100%;
	font-size:50px;
}
.medl{
	width:90px;
	height:90px;
	margin-left: -100px;
}
}

.listo{
	text-align:center;
	font-size:3vw;
	color:#FF7000;
}
.listo h1{
	margin:0;
}